<main>
  <h1>Feel free to cantact me </h1>
  <ul class='myLinks'>
    <li class='aLink' ><a href="https://github.com/sampersian">GitHub</a></li>
    <li class='aLink' ><a href="https://www.linkedin.com/in/sampersian">LinkedIn</a></li>
  </ul>
</main>
