<footer class='myFooter'>
  <ul class='myLinks'>
    <li class='aLink' ><a href="https://github.com/sampersian">GitHub</a></li>
    <li class='aLink' ><a href="https://www.linkedin.com/in/samuel-persian-345b1b81">LinkedIn</a></li>
  </ul>
</footer>
