<nav class="navbar navbar-default no-margin">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed no-margin" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand min-width-10" href="/">Sam Persian</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav max-width-90">
        <li class="nav-item"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="/portfolio">Portfolio</a></li>
        <li class="nav-item"><a href="/resume">Resume</a></li>
        <li class="nav-social"><a href="https://github.com/sampersian"><img src="images/github_logo.png" class="nav-logo" alt="" /></a></li>
        <li class="nav-social"><a href="https://www.linkedin.com/in/sampersian"><img src="images/linkedin_logo.png" class="nav-logo" alt="" /></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class='jumbotron'>
  <p class='myTitle'>Full Stack Web Developer</p>
  <div class='nameRow'>
    <span class='myName'>Sam Persian</span>
    <span class="myEmail">samuel.persian@gmail.com</span>
  </div>
  <div class='buttonRow'>
    <button class="btn myBtn" type="button" onclick="location.href='/'">Home</button>
    <button class="btn myBtn" type="button" onclick="location.href='/portfolio'">Portfolio</button>
    <button class="btn myBtn"type="button" onclick="location.href='/resume';">Resume</button>
  </div>
</div> -->
