<div class='jumbotron'>
  <p class='myTitle'>Full Stack Web Developer</p>
  <div class='nameRow'>
    <span class='myName'>Sam Persian</span>
    <span class="myEmail">samuel.persian@gmail.com</span>
  </div>
  <div class='buttonRow'>
    <button class="btn myBtn" type="button" onclick="location.href='/'">Home</button>
    <button class="btn myBtn" type="button" onclick="location.href='/portfolio'">Portfolio</button>
    <!-- <button class="btn myBtn" type="button" onclick="location.href='/demos'">Demos</button> -->
    <button class="btn myBtn"type="button" onclick="location.href='/resume';">Resume</button>
    <!-- <button class="btn myBtn"type="button" onclick="location.href='/contact'">Contact</button> -->
  </div>
</div>
