<main>
  <p class='myTitle'>Full Stack Web Developer...still Loading</p>
  <div class='nameRow'>
    <span class='myName'>{{fullName}}</span>
    <!-- <span class='myEmail'>{{email}}</span> -->
  </div>
</main>
