<main>
  <div class='jumbotron'>
    <p class='myTitle'>Full Stack Web Developer</p>
    <div class='nameRow'>
      <span class='myName'>{{fullName}}</span>
      <!-- <span class='myEmail'>{{email}}</span> -->
    </div>
    <div class='buttonRow'>
      <button class="btn myBtn" type="button" onclick='youreUp(portfolio)'>Portfolio</button>
      <button class="btn myBtn" type="button" onclick='youreUp(demos)'>Demos</button>
      <button class="btn myBtn"type="button" onclick='youreUp(resume)'>Resume</button>
      <button class="btn myBtn"type="button" onclick='youreUp(contact)'>Contact</button>
    </div>
  </div>
  <div class='stage'>

  </div>
</main>
