<main>
  <div class='stage'>
    <div class="act bio">
      <h1 class='myName'>Sam Persian</h1>
      <div class='actHolder'>
        <div class="card">
          <img class="card-img-top img-circle" src="/images/me.jpg" alt="My Picture">
          <div class="card-block"> </div>
        </div>
        <div class='actContent'>
          <h3>About Me</h3>
          <p class="myIntroduction">
            Hi! My name is Sam Persian. I am a full stack web developer currently living in Denver, Colorado. Check out my <a href="/portfolio">portfolio</a> or my <a href="/resume">resume</a> and feel free to contact me anytime at samuel.persian@gmail.com.
          </p>
        </div>
      </div>
    </div>
    <div class="act portfolio">
      <h1>Portfolio</h1>
    </div>
    <div class="act demos">
      <h1>Demos</h1>
    </div>
    <div class="act resume">
      <h1>Resume</h1>
    </div>
    <div class="act contact">
      <h1>Contact Info</h1>
    </div>
  </div>
</main>
