<main>
  {{{header}}}
  <h1>My Portfolio</h1>
  <div class="project">
    <img src="/images/shopHockey/home.jpg" class="projectImage">
    <img src="/images/shopHockey/category.jpg" class="projectImage">
    <img src="/images/shopHockey/search.jpg" class="projectImage">
    <img src="/images/shopHockey/cart.jpg" class="projectImage">
  </div>
</main>
