<main>
  <div class="portfolio">
    <div class="project">
      <a href="https://shophockey.herokuapp.com/">
        <h3 class='projectName'>shopHockey</h3>
        <h5 class='projectDescription'>Shop for hockey products and accessories on an online store.</h5>
        <!-- GOTTA MOVE THE LINK IF I MAKE THE PROJECE GALLERY WORK -->
        <div class="projectGallery">
          <!-- <div class='leftSide'>
            <button type="button" name="button" class='btn btn-primary' onclick="changePicture('prev', 'shopHockey')">&larr;</button>
          </div> -->
          <div class="imageViewer" id="shopHockeyViewer">
            <img src="/images/shopHockey/home.jpg" class="img-thumbnail projectImage">
            <img src="/images/shopHockey/category.jpg" class="img-thumbnail projectImage hidden">
            <img src="/images/shopHockey/search.jpg" class="img-thumbnail projectImage hidden">
            <img src="/images/shopHockey/cart.jpg" class="img-thumbnail projectImage hidden">
          </div>
          <!-- <div class='rightSide'>
            <button type="button" name="button" class='btn btn-primary' onclick="changePicture('next', 'shopHockey')">&rarr;</button>
          </div> -->
        </div>

      </a>
    </div>
  </div>

  <div class="portfolio">
    <div class="project">
      <a href="https://hipfoodtrucks.herokuapp.com/">
        <h3 class='projectName'>hipfoodtrucks</h3>
        <h5 class='projectDescription'>See food trucks in your city and check out where they'll be when.</h5>

        <!-- GOTTA MOVE THE LINK IF I MAKE THE PROJECE GALLERY WORK -->
        <div class="projectGallery">
          <!-- <div class='leftSide'>
            <button type="button" name="button" class='btn btn-primary' onclick="changePicture('prev', 'shopHockey')">&larr;</button>
          </div> -->

          <div class="imageViewer" id="shopHockeyViewer">
            <img src="/images/hipfoodtrucks/home.jpg" class="img-thumbnail projectImage">
          </div>
          <!-- <div class='rightSide'>
            <button type="button" name="button" class='btn btn-primary' onclick="changePicture('next', 'shopHockey')">&rarr;</button>
          </div> -->
        </div>
      </a>

    </div>
  </div>

</main>
