<main >
  <object data="images/Resume-Samuel-Persian.pdf" style="height: 700px;" type="application/pdf" width="100%" height="100%">
    <p>Alternative text - include a link <a href="images/resume.12.10.2016.pdf">to the PDF!</a></p>
  </object>
</main>
