.myFooter {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px 5px 50px;
}

.myLinks {
  background-color: rgba(0, 0, 0, 0.5);;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 10px 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dotted white;
  border-radius: 10px;
}

.aLink {
  padding: 0px 15px 0px 15px;
}

.aLink:not(:first-child) {
  border-left: 1px solid black;
}

.aLink a {
  color: orange;
}
