main {
  padding: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.myTitle {
  margin: 0px;
  font-size: 1.5em;
  color: grey;
}

.nameRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.myName {
  font-size: 3.5em;
  padding-top: 10px;
}
/*.myEmail {
  font-size: 1.5vh;
  padding-bottom: 7px;
}*/
