html {
  background-image: url('/images/background.jpg');
  background-size: 100%;
}

body {
  background: none;
}

main {
  padding: 1vw 3vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  background-color: rgba(255,255,255,0.7);
  padding: 15px;
  border-radius: 10px;
  margin: 10px 20px;
}

.jumbotron .myTitle {
  margin: 0px;
  font-size: 18px;
  color: darkorange;
  font-weight: bold;
}

.nameRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.myName {
  font-size: 4em;
  font-weight: bold;
  padding-top: 10px;
  color: dodgerblue;
}
/*.myEmail {
  font-size: 1.5vh;
  padding-bottom: 7px;
}*/

.buttonRow {
  margin-top: 0px;
  display: flex;
}

.myBtn {
  color: white;
  background-color: rgba(0,0,0,0.6);
  font-size: 14px;
  margin-top: 15px;
  border-radius: 5px;
}

.myBtn:not(:first-child) {
  margin-left: 15px;
}

.stage {
  background: rgba(0,0,0,0.5);
  padding: 5px 15px;
  border-radius: 30px;
}

.act {
  display: none;
  padding: 10px;
}

.act .actName {
  margin: 0px;
  text-align: center;
  color: black;
}

.act .actHolder {
  display: flex;
  flex-wrap: wrap;
}

.act .actHolder .myBioPic {
  border-radius: 50px;
}

.act .actHolder .actContent {
  padding: 20px 40px;
}

.act .actHolder .actContent pre{
  word-wrap: normal;
  width: auto;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px;
  background-color: rgba(0,0,0,0.5);
}

.projectName,.projectDescription {
  width: 100%;
  text-align: center;
}

.projectGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.projectImage {
  border: 5px solid black;
  height: 200px;
  margin: 0px 20px 10px 20px;
}

.leftSide {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5%;
}

.imageViewer {
  height: 100%;
  margin: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.rightSide {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5%;
}

.hidden {
  display: none;
}
